@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

*:not(.fa):not(.fas):not(.far):not(.fal):not(.fad):not(.fab) {
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
body {
    background-color: #202225 !important;
}
header {
    margin-top: 20px;
    background-color: transparent;
    border-radius: 8px !important;
}
footer {
    background-color: #36393f !important;
}
.mascotbox {
    background-color: #36393f !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
}
#nav {
    background-color: #2f3136 !important;
    border-radius: 8px !important;
}
#nav .main {
    background-color: #2f3136 !important;
    border: none !important;
}
#nav menu {
    background-color: #36393f !important;
}
#page {
    background-color: #36393f !important;
}
header#top menu.main li a {
    border-radius: 4px !important;
    text-align: center !important;
}
header#top menu.main li.current a {
    background-color: #202225 !important;
}
.box-section {
    background-color: #2f3136 !important;
}
.post-preview {
    transition: 0.1s !important;
    overflow: visible !important;
}
.post-preview img {
    border-radius: 8px !important;
    border: none !important;
    transition: 0.1s !important;
}
.post-preview .desc {
    background-color: #2f3136 !important;
    border-radius: 8px !important;
    margin-top: 4px !important;
}

.post-preview:hover img {
    border-radius: 4px !important;
}
.post-preview:hover {
    transform: translateY(-5px) !important;
}

.simple_form {
    background-color: #2f3136 !important;
}

.ui-menu {
    margin-top: 10px;
    border-radius: 8px !important;
    background: #202225 !important;
    border: none !important;
}
.ui-menu .ui-menu-item {
    margin: 4px !important;
    border-radius: 4px !important;
    background-color: #2f3136 !important;
    transition: 0.1s !important;
}
.ui-menu .ui-menu-item:hover {
    border: none !important;
    outline: none !important;
}

.related-tags {
    background-color: #202225 !important;
}
.edit-submit {
    background-color: #2f3136 !important;
}

.profile-container .stats-section {
    margin-bottom: 20px;
}
.profile-container .profile-avatar img {
    border-radius: 12px !important;
}
.profile-container .about-piece,
.profile-container .profile-stats {
    background-color: #2f3136 !important;
}

#c-posts .button.score-positive {
    background-color: #43b581 !important;
}
#c-posts .button.score-negative {
    background-color: #f04747 !important;
}
#c-posts .post-score {
    font-size: 17px;
}
#c-posts #nav-links-top .pool-nav,
#c-posts #nav-links-top .search-seq-nav,
#c-posts #nav-links-bottom .pool-nav,
#c-posts #nav-links-bottom .search-seq-nav {
    background-color: transparent !important;
}
#c-posts #nav-links-top,
#c-posts #nav-links-bottom {
    border-radius: 8px !important;
    background: #202225 !important;
}
#c-posts .notice {
    border-radius: 8px !important;
    background: #202225 !important;
    border: none !important;
}
.image-vote-buttons .button {
    border-radius: 8px !important;
    background: #202225 !important;
}
#c-posts #description {
    border-radius: 8px !important;
    background-color: #2f3136 !important;
    border: none !important;
}
.comment-post {
    border-radius: 8px !important;
    background-color: #25272b !important;
    padding: 10px !important;
}
.blip,
.list-of-comments .comment {
    border-radius: 8px !important;
    background-color: #2f3136 !important;
}
.blip .author-info,
.list-of-comments .comment .author-info {
    border-radius: 8px !important;
    background: #202225 !important;
}
.blip .author-info .avatar img,
.list-of-comments .comment .author-info .avatar img {
    border-radius: 8px !important;
}
blockquote {
    border: none !important;
    background: #202225 !important;
    border-left: 0.25rem solid #666a72 !important;
}

.pv-check,
.pv-label {
    background: #202225 !important;
}

table thead {
    border-radius: 8px !important;
    background: #202225 !important;
}
table tbody {
    border-radius: 8px !important;
    background-color: #2f3136 !important;
}
table tr {
    background-color: transparent !important;
    border-color: #25272b !important;
}

.btn-success {
    background-color: #43b581 !important;
}
.btn-danger {
    background-color: #f04747 !important;
}
.btn-warn {
    background-color: #5865f2 !important;
}
.btn-neutral {
    background-color: #4f545c !important;
}
#image-resize-selector option {
    background-color: #4f545c !important;
}

.button {
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    padding: 2px 16px;
    height: 32px;
    min-width: 60px;
    min-height: 32px;
    color: white;
    text-align: center;
}

article.post-preview[data-tags~="animated"] > a:before {
    background-color: #202225 !important;
    border: none;
    border-radius: 15px;
    color: #fff;
    content: "GIF";
    top: 0.2rem;
    left: -0.1rem;
    padding: 3px 9px;
}
article.post-preview[data-file-ext="webm"] > a:sbefore {
    background-color: #202225 !important;
    border: none;
    border-radius: 15px;
    color: #fff;
    content: "VIDEO";
    top: 0.2rem;
    left: -0.1rem;
    padding: 3px 9px;
}
.site-notice {
    background-color: #202225 !important;
    border-radius: 8px !important;
    border: none !important;
    margin-bottom: .5rem !important;
}